extends ../layout/main

block variables
  - var title = 'Главная';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  h1.title
    |Начинаем проект
  h2.subtitle
    |test